# =========================
# App (Public)
# =========================
# Public URL aplikacji (używaj https w prod)
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# =========================
# Sanity (Public)
# =========================
NEXT_PUBLIC_SANITY_PROJECT_ID=your_project_id
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2025-01-01

# =========================
# Sanity (Private - server only)
# =========================
# Nigdy nie wystawiaj tego tokena do klienta (bez NEXT_PUBLIC_*)
SANITY_API_READ_TOKEN=
