# =========================
# App (Public)
# =========================
# Public URL aplikacji (używaj https w prod)
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# =========================
# Sanity (Public)
# =========================
NEXT_PUBLIC_SANITY_PROJECT_ID=project_id
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2025-01-01

# =========================
# Sanity (Private - server only)
# =========================
SANITY_WRITE_TOKEN=token-for-writing-to-sanity
SANITY_WEBHOOK_SECRET=secret-for-verifying-sanity-webhooks
SANITY_DERIVE_DISABLE_PATCH=false
SANITY_DERIVE_COOLDOWN_MS=5000
