# dependencies
node_modules/

# next
.next/
out/

# builds
dist/
build/
coverage/

# env
.env
.env.local
.env*.local

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# tooling
.vercel/
.turbo/
