@import 'tailwindcss';

@theme {
  /* custom colors */
  --color-primary: #ca1f43;
  --color-primary-darker: #c71c41;
  --color-background-primary: #ffffff;
  --color-gray: #222222;
  --color-light-gray: #6b7273;
  --color-dark-blue: #060644;
  --color-white: #fff;
  --color-black: #000;
  --color-frames: #dfdfdf;
  --color-borders: #454545;
  --color-secondary-borders: #d8d8d8;
  --color-titles: #181818;
  --color-subtitles: #1a1a1a;
  --color-background-panel: #f2f2f2;
  --color-warning: #fff4e4;
  --color-error: #f9ebe9;
  --color-success: #eef6f5;
  --color-text-warning: #937038;
  --color-text-error: #dd664f;
  --color-text-success: #148370;
  --color-lines: #e4e4e4;
  --color-background-darker: #f6f6f6;
  --color-line: #d9d9d9;
  --color-destignation: #191919;
  --color-home-beige: #f6f4f0;
  --color-home-liner: #bababa;
  --color-background-beige: #e8e8e8;
  --color-pagination: #c0c4cd;

  /* custom fonts */
  --font-inter: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;

  /* custom breakpoints */
  --breakpoint-lg: 480px;
}

@layer base {
  body {
    font-family: Inter, sans-serif;
  }

  h2 {
    font-family: var(--font-poppins);
    font-weight: 600;
    line-height: 111%;
    color: var(--color-gray);
    font-size: 42px;
    margin-bottom: 25px;
  }

  h3 {
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 24px;
    line-height: 103%;
    /* @apply text-2xl text-poppins font-semibold */
  }

  h4 {
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    text-transform: uppercase;
  }

  p {
    font-family: var(--font-inter);
    font-weight: 400;
    line-height: 142%;
    color: var(--color-borders);
  }

  input::placeholder {
    @apply font-inter text-lg font-medium;
  }
}

.custom-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: var(--color-background-primary);
  opacity: 1;
  border-radius: 50%;
  border: 1px solid var(--color-pagination);
  transition: background-color 0.3s;
}
.custom-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-gray);
}
